section {
    float: left;
    margin: 80px;
  }
  img {
    height: 200px;
  }
  h1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
  }
  .photo-template {
    display:block;
  }

  .horn-description {
    overflow-wrap: break-word;
  }

  .horn-title {
    font-family: 'Bad Script', cursive;
  }